ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;  
}

img {
  display: block;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.header { 
background-color: #3b8ad0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
display: flex;
align-items: center;
justify-content: center;
}

.title {
margin: 25px 0 0;
font-size: 36px;
font-weight: normal;
color: white;
text-decoration: none;
line-height: 1.5;
letter-spacing: 0.02em;
}

.subtitle {
margin: 0 0 25px 0;
color: white;
font-size: 24px;
font-weight: normal;
text-decoration: none;
line-height: 1.5;
letter-spacing: 0.02em;
}

.nav-list {
margin-left: 150px;
display: flex;
gap: 60px;
}

.nav-link {
color: white;
text-decoration: none;
font-size: 22px;
font-weight: normal;
}

.products {
margin-top: 100px;
margin-bottom: 100px
}

.product-image {
  width:400px;
  height:400px;
}

.products-list {
  display: flex;
  gap: 20px;
}

.item-h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 20px 0 0 0;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.item-p {
    font-size: 21px;
    font-family: sans-serif;
    color: #3f3f43;
}
